$titleMainColor: black;
$titleSecondaryColor: #999;
$windowBackgroundColor: #FFF;
$buttonMainColor: #3369F3;
$linkMainColor: $buttonMainColor;
$linkSecondaryColor: red;
$borderBottomMainColor: $buttonMainColor;
$borderBottomSecondaryColor: #EAEAEA;
