@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';

.window {
    min-width: 375px;
    background: $windowBackgroundColor;
    box-shadow: 0 0 6px rgba(0, 0, 0, 14%);
    border-radius: 12px;

    .form-container {
        margin: 40px 30px;

        .form-title {
            font-family: sans-serif;
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            color: $titleSecondaryColor;
        }

        .form-info {
            margin-top: 30px;
            min-height: 400px;

            @include makeFlexBoxContainer(column, space-between);

            .form-field-container {
                @include makeFlexBoxContainer(column);

                .field-title {
                    margin-top: 10px;
                    font-weight: 600;
                }

                .field-input {
                    height: 30px;
                    margin-bottom: 30px;
                    font-size: 18px;
                    border-bottom: 2px solid $borderBottomMainColor;
                }
            }

            .form-buttons-container {
                @include makeFlexBoxContainer(column);

                align-items: center;
            }
        }
    }
}
