@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';

.window {
    min-width: 375px;
    width: 800px;

    .profile-container {
        margin: 40px 30px;

        @include makeFlexBoxContainer(column, center, center);

        .profile-name {
            font-weight: 550;
        }

        div {
            @include makeFlexBoxContainer(column, center, center);

            width: 100%;

            .profile-photo {
                @include makeCircle(150px);

                margin-bottom: 50px;
            }

            .form-info {
                width: 100%;

                .fields-container {
                    div {
                        @include makeFlexBoxContainer(row, space-between, center);

                        margin-bottom: 25px;
                        border-bottom: $borderSecondaryColor 2px solid;
                        padding-bottom: 5px;
                        position: relative;

                        .field-title,
                        .text-row-label {
                            @include makeLabel($titleMainColor, 16px, 600);
                        }

                        .field-input,
                        .text-row-value, {
                            margin-bottom: -7px;
                            padding-bottom: 10px;

                            @include makeLabel($titleSecondaryColor, 16px, 600);
                        }

                        .field-input {
                            @include makeInput($titleSecondaryColor, inherit, 16px, 600, inherit);
                        }

                        &:last-child {
                            border-bottom: none;
                            margin-bottom: 50px;
                        }

                        .invalid {
                            border-bottom: $errorColor 2px solid;
                        }

                        .error-message {
                            position: absolute;
                            bottom: -20px;
                            right: 0;

                            @include makeLabel($errorColor, 12px, 600);
                        }
                    }
                }
            }
        }

        .form-buttons-container {
            .form-links {
                @include makeFlexBoxContainer(column, flex-start, flex-start);

                span {
                    margin-bottom: 15px;
                    padding-bottom: 10px;

                    &:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;

                        a {
                            &:visited {
                                color: $linkSecondaryColor;
                            }
                        }
                    }
                }
            }
        }
    }
}
