@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';

.profile-window {
    min-width: 375px;
    width: 800px;

    .to-chats {
        @include makeCircle(40px, $buttonMainColor);
        @include makeLabel(white, 16px, 500);
        @include makeHoverEffect(none);

        margin-left: 10px;
        border: none;

        transform: rotate(180deg);
    }

    .profile-container {
        margin: 40px 30px;

        @include makeFlexBoxContainer(column, center, center);

        .profile-photo {
            @include makeCircle(150px);

            margin-bottom: 50px;
        }

        .profile-name {
            font-weight: 550;
        }
        
        .form-info {
            @include makeFlexBoxContainer(column, center, center);

            width: 100%;

            .fields-container {
                width: 100%;

                div {
                    @include makeFlexBoxContainer(row, space-between, center);

                    margin-bottom: 25px;
                    border-bottom: $borderSecondaryColor 2px solid;
                    padding-bottom: 5px;
                    position: relative;

                    .field-title,
                    .text-row-label {
                        @include makeLabel($titleMainColor, 16px, 600);
                    }

                    .field-input,
                    .text-row-value, {
                        margin-bottom: -12px;
                        padding-bottom: 10px;

                        @include makeLabel($titleSecondaryColor, 16px, 600);
                    }

                    .field-input {
                        @include makeInput($titleSecondaryColor, inherit, 16px, 600, inherit);
                    }

                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 50px;
                    }

                    .invalid {
                        border-bottom: $errorColor 2px solid;
                    }

                    .error-message {
                        position: absolute;
                        bottom: -20px;
                        right: 0;

                        @include makeLabel($errorColor, 12px, 600);
                    }
                }
            }

            .form-buttons-container {
                width: 100%;

                .form-links {
                    @include makeFlexBoxContainer(column, center, flex-start);

                    .alt-url {
                        cursor: pointer;
                        margin-bottom: 15px;
                        padding-bottom: 10px;

                        &:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                            color: $linkSecondaryColor;
                        }
                    }
                }

                .form-buttons {
                    @include makeFlexBoxContainer(column, center, center);
                }
            }
        }
    }
}
