<div class="window">
    <div class="profile-container" id="profileContainer">
        {{{avatar}}}
        {{#unless editMode}}
            <h3 id="profileName" class="profile-name">
                {{name}}
            </h3>
        {{/unless}}
        {{{form}}}
        <div class="button-container">
            {{#unless editMode}}
                {{#each links}}
                {{/each}}
            {{/unless}}
            {{#if editMode}}
                {{{button}}}
            {{/if}}
        </div>
    </div>
</div>
