<div class="window">
    <div class="development-container">
        <h1>
            {{description}}
        </h1>
        <a href='{{altUrl}}'>
            {{altUrlLabel}}
        </a>
    </div>
</div>
