<div class="window">
	<div class="development-container">
		<h1 class="development-description">
			{{description}}
		</h1>
		<a href="{{altUrl}}" class="alt-url">
			{{altUrlLabel}}
		</a>
	</div>
</div>
