@import "src/styles/sass/variables";
@import "src/styles/sass/mixins";

.popup-window {
    position: relative;
    display: block;
    width: 100%;

    .popup-container {
        @include makeFlexBoxContainer(column, space-between, flex-start);

        visibility: hidden;
        width: 210px;
        height: 90px;
        background-color: $windowBackgroundColor;
        box-shadow: 0 0 6px rgba(0, 0, 0, 14%);
        border-radius: 12px;
        padding: 20px;
        position: absolute;
        z-index: 10;
        top: 125%;
        right: 0;
    }
}
