<div class="window">
    <div class="error-container">
        <h1>
            {{errorStatus}}
        </h1>
        <h2>
            {{errorDescription}}
        </h2>
        <a href='{{altUrl}}'>
            {{altUrlLabel}}
        </a>
    </div>
</div>
