@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';

.window {
    min-width: 375px;
    width: 800px;

    .profile-container {
        margin: 40px 30px;

        @include makeFlexBoxContainer(column, center, center);

        .profile-photo {
            @include makeCircle(150px);
            margin-bottom: 50px;
        }

        .profile-name {
            font-weight: 550;
        }

        .list {
            list-style-type: none;
            width: 100%;

            .list-item {
                margin-bottom: 15px;
                border-bottom: $borderSecondaryColor 2px solid;
                padding-bottom: 15px;

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 50px;
                }

                div {
                    @include makeFlexBoxContainer(row, space-between, center);

                    span, label, input {
                        @include makeLabel($titleMainColor, 16px, 550);

                        &:first-child, label {
                            color: $titleMainColor;
                        }
                    }

                    input {
                        @include makeInput($titleSecondaryColor, none, 16px, 550);
                    }
                }
            }
        }

        .button-container {
            @include makeFlexBoxContainer(column, flex-start, flex-start);

            width: 100%;

            span {
                margin-bottom: 15px;
                padding-bottom: 10px;

                &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;

                    a {
                        &:visited {
                            color: $linkSecondaryColor;
                        }
                    }
                }

                &:only-child {
                    align-self: center;
                }
            }
        }
    }
}
