<form
    method="post"
    class="form-info"
    name="{{name}}"
>
    <div class="fields-container">
        {{#each fields}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="form-buttons-container">
        {{{button}}}
        {{{altUrl}}}
    </div>
</form>
