@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';

.form-info {
    margin-top: 30px;
    min-height: 400px;

    @include makeFlexBoxContainer(column, space-between);

    .fields-container {
        div {
            @include makeFlexBoxContainer(column);

            .field-title {
                margin-top: 10px;
                font-weight: 600;
            }

            .field-input {
                height: 30px;
                margin-bottom: 30px;
                font-size: 18px;
                border-bottom: 2px solid $borderMainColor;
            }
        }
    }

    .form-buttons-container {
        @include makeFlexBoxContainer(column);

        align-items: center;
    }
}
