<div class="window">
    <div class="form-container">
        <div class="form-title">
            {{title}}
        </div>
        <form action="" method="get" class="form-info">
            {{#each fields}}
                <div class="form-field-container"></div>
            {{/each}}
            <div class="form-buttons-container">
                {{{button}}}
                {{{altUrl}}}
            </div>
        </form>
    </div>
</div>
