<div class="button-container">
	{{#unless editMode}}
		<a href="" id="changeInfo" class="alt-url">
			Изменить данные
		</a>
		<a href="" id="changePassword" class="alt-url">
			Изменить пароль
		</a>
		<a href="{{quit}}" class="alt-url">
			Выйти
		</a>
	{{/unless}}
	{{#if editMode}}
		<button id="saveChanges" class="main-button">
			{{buttonLabel}}
		</button>
	{{/if}}
</div>
