<div class="button-container">
    {{#unless editMode}}
        <a href="" id="changeInfo">
            Изменить данные
        </a>
        <a href="" id="changePassword">
            Изменить пароль
        </a>
        <a href="{{quit}}">
            Выйти
        </a>
    {{/unless}}
    {{#if editMode}}
        <button id="saveChanges">
            {{buttonLabel}}
        </button>
    {{/if}}
</div>
