<div class="window">
    <div class="profile-container" id="profileContainer">
        <div class="profile-photo" id="profilePhoto">
            {{avatar}}
        </div>
        {{#unless editMode}}
            <h3 id="profileName">
                {{display_name}}
            </h3>
        {{/unless}}
    </div>
</div>
